.item-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  gap: 2rem;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.images-detail-container {
  flex: 1;
}

.images-detail-container .main-image img {
  width: 80%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.images-detail-container .main-image img:hover {
  transform: scale(1.08);
}

.text-detail-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title-detail {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 0.5rem;
}

.text-detail,
.text-item {
  font-size: 1.2rem;
  color: white;
  margin: 0.5rem 0;
}


.text-detail-container button {
  background-color: rgb(188, 188, 23)  ;
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.text-detail-container button:hover {
  background-color: yellow;
}


.text-detail-container .nav-buttons button {
  margin-right: 0.5rem;
}

.botones-finales {
  display: flex;
  gap: 1rem;
}

.botones-finales .terminar{
  background-color: #28a745;
}
.botones-finales .terminar:hover{
  background-color: #34fa5f;
}

@media (max-width: 768px) {
  .item-detail {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }

  .images-detail-container,
  .text-detail-container {
    width: 100%;
    text-align: center;
  }
}

