.itemlistcontainer{
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex:1;
  max-width: 100%;
  text-align: center;
}
.itemlistcontainer h3{
  text-decoration: underline;
}
.itemlistcontainer .itemlist{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.itemlistcontainer .item{
  width: 300px;
  margin: 3% 6%;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item .img-item{
  width: 100%;
  border-radius: 10%;
}
.item .text-item{
  padding: 1% 0;
  font-size: 1.4rem;
}

.itemlistcontainer .item .button-detail{
  display: inline-block;
  padding: 10px 15px;
  background-color: black; 
  color: white; 
  text-align: center; 
  border-radius: 5px; 
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.itemlistcontainer .item .button-detail:hover{
  background-color: yellow;
  color: black;
}

.no-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.no-products h2 {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.link-vacio {
  padding: 10px 20px;
  font-weight: bold;
  color: black;
  background-color: rgb(157, 157, 30);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s; 
}

.link-vacio:hover {
  background-color: yellow;
}
