.navbar {
  background-color: #343a40;
}

.navbar .navbar-brand img {
  max-width: 150px;
  background-color: yellow;
}

.navbar .nav-link {
  color: white;
  margin-right: 20px;
}

.navbar .nav-link:hover {
  color: yellow;
}

.navbar .dropdown-menu {
  background-color: #343a40;
}

.navbar .dropdown-menu .active-link {
  background-color: yellow;
  color: black;
}

.navbar .cartwidget {
  display: flex;
  align-items: center;
  color: white;
}

.carticon {
  font-size: 24px;
}

.numero-cartwidget {
  margin-left: 5px;
  color: yellow;
}


@media (max-width: 768px) {
  .navbar .nav-link {
    margin-right: 10px;
  }
}
