.navbar .container-fluid{
  width: 100%;
}

.navbar .cartwidget {
  display: flex;
}
.navbar .cartwidget p {
  color: white;
}
.navbar-brand img{
width: 100%;
height: auto;
max-width: 400px;
background-color: yellow;
}
.navbar .dropdown-menu .active-link {
  background-color: yellow;
  color: black;
  border: 2 solid black;
}
.navbar .dropdown-menu .active-link:hover{
  color: white;
  background-color: rgb(183, 183, 22);
}